@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}
.search {
  margin-left: -200px;
  width: 500px;
  padding: 10px;
}
.database {
  background-color: #333;
  padding: 25px;
  margin: 25px 200px 0 0;
  height: 70vh;
  overflow: scroll;
  color: #fff;
}
